@charset "utf-8";

/*** General ***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

li {
	list-style: none;
}

button {
	margin: 0;
	display: block;
}

body {
	font: 1.6rem "KosugiMaru","Kosugi", "Roboto", "sans-serif";
	color: rgb(36, 37, 38);
}

#wrapper {
	width: 100vw;
	height: 100vh;
}

/*** Header ***/

header {
	width: 100vw;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-family: "Roboto", "sans-serif";
}

header ul li {
	/* margin-right: 1rem; */
	display: none;
	cursor: pointer;
}

header ul li:hover {
	color: rgb(65, 174, 225);
}

/*** Main ***/

main {
	width: fit-content;
	margin: 0 auto;
	padding-top: 100px;
	display: block;
}

main .box {
	width: 50px;
	height: 50px;
	margin: 1px;
	padding: 5px;
	color: white;
	font-weight: bold;
	border: 1px solid rgb(116, 116, 116);
	cursor: pointer;
	font: 3rem;
}

main .box:hover {
	background-color: rgb(116, 116, 116);
}

.boxRow {
	height: 154px;
}

.block {
	width: 166px;
	height: 164px;
	display: flex;
	border: 5px solid white;
}

.block p {
	width: fit-content;
	margin: auto auto;
	color: rgb(253, 253, 253);
	font-size: 100px;
}

.row {
	display: flex;
}

.active {
	display: flex;
	border: 5px solid rgb(65, 174, 225);
}

.active-all {
	display: flex;
	border: 3px solid rgb(201, 232, 246);
}

/*** Modal ***/

.modal {
	display: none;
	position: fixed;
	/* z-index: 1; */
	/* padding-top: 30%; */
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	width: 70%;
	margin: 80px auto;
	padding: 20px;
	/* display: flex;
	flex-direction: row-reverse; */
	border: 1px solid rgb(116, 116, 116);
	background-color: rgb(253, 253, 253);
}

.modal-content h1 {
	margin-bottom: 15px;
}

.modal-content p {
	margin-bottom: 15px;
}

.modal-content span {
	display: block;
	padding: 10px;
  font-size: 1.5rem;
}

.modal-content .button-container {
	text-align: center;
}

.button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: rgb(253, 253, 253);
	background-color: rgb(65, 174, 225);
	text-align: center;
	font-family: "Kosugi", "sans-serif";
	cursor: pointer;
}

#welcome-modal .button {
	font-size: 2.5rem
}

.close {
	float: right;
	cursor: pointer;
}

.close:hover {
	color: rgb(225, 65, 94);
}

/*** Responsive ***/

@media screen and (min-width: 650px) {
	header #icon {
		display: none;
	}

	header ul {
		display: flex;
	}

	header ul li {
		margin-right: 10px;
	}

	header ul li:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 649px) {
	header #icon {
		display: block;
		position: absolute;
		top: 25px;
		right: 20px;
		z-index: 2;
	}

	header #icon:hover {
		cursor: pointer;
	}

	header nav ul {
		width: fit-content;
		display: block;
		padding-top: 70px;
		position: absolute;
		top: 0;
		right: -80px;
		text-align: right;
		z-index: 1;
		transition: 0.7s;
	}

	header nav li {
		margin: 0 0 15px;
		z-index: 1;
	}
}